doctype html
head
  meta(charset='utf-8')
  title WalkingSimulator - 步行模拟器
  base(href='/')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='icon' type='image/x-icon' href='favicon.ico')
body
  app-root
script
  | window.geojsonFile = "!{geojsonFile}"
script(src='//webapi.amap.com/loader.js')
